# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.txt diff=astextplain
*.css diff=astextplain
*.html diff=astextplain
*.htm diff=astextplain
*.aspx diff=astextplain
*.asp diff=astextplain
*.vb diff=astextplain
*.master diff=astextplain
*.xaml diff=astextplain
*.js diff=astextplain
*.ts diff=astextplain 