body {
    background-color: #eee;
    padding: 0;
    margin: 0;
    font-family: arial;
    color: #C3CFDE;
    background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    margin-top: 40px;
}

.content_host {
    min-height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: -1;
}

.master_header {
background: #45609D;  
    height: 40px;
    border-bottom: 1px solid #000;
    position: fixed;
    width: 100%;
    top: 0px;
}

.login_box {
    position: absolute;
    width: 200px;
    margin-top: -140px;
    background: #E3E9F7;
    border: 1px solid #000;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 5px #000;
    right: 0;
    margin-right: 10px;
    padding: 3px 5px 5px 5px;
    color:black;
}

input[type=text], input[type=password] {
    outline: 0;
    width: 100%;
    padding: 0px;
    min-height: 21px;
    border: 1px solid #aaa;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 0 white, inset 0 1px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 0 white, inset 0 1px 7px rgba(0,0,0,0.4);
    border-radius: 0px;
}

    input[type=text]:focus, input[type=password]:focus {
        border: 1px solid #1288ff;
    }

input[type=button] {
    border: 1px solid #fff;
    background-color: #45609D;
    color: #E3E9F7; 
    border-radius: 0px;
}

    input[type=button]:hover {
        background-color: #768CC0;
    }

.right_panel {
    float: right;
    margin: 7px 10px 0px 0px;
}

#title {
    position: absolute;
    font-size: 27px;
    font-family: calibri;
    font-weight: bold;
    color:white;
}

.topbtn {
    height: 24px;
    color:#fff;
}

.main_panel {
    /*background-color:#234;*/
    background-color: #E3E9F7;
    border: 1px black solid;
    box-shadow: #000 0px 0px 10px;
    border-radius: 0px;
    padding: 5px;
    margin: 10px;
    margin-top: 10px;
    color:black;
}
a {
    color: #000;
    font-style:italic;
    text-decoration:none;
    transition: color 1s ease;
}
    a:hover { 
        transition: color 0.3s ease;
        color:#aaa; 
    }